<div class="row">
  <div class="card col-md-6 offset-md-3 offset-md-3">
      <div class="row">
          <h3 class="text-center"> Add Actor </h3>
          <hr />
          <div class="card-body">
              <form (ngSubmit)="onSubmit()">

                  <div class="form-group">
                      <label> Character</label>
                      <input type="text" class="form-control" id="characterRole" [(ngModel)]="actor.characterName"
                          name="characterRole">
                  </div>

                  <div class="form-group">
                      <label> Actor </label>
                      <input type="text" class="form-control" id="actor" [(ngModel)]="actor.actorName"
                          name="actor">
                  </div>
                  <br />
                  <button class="btn btn-success" type="submit">Submit</button>

              </form>
          </div>
      </div>
  </div>
</div>
