<h3> View Movie Details</h3>
<div>
    <div>
        <label> <b> Title: </b></label> {{movie.title}}
    </div>
    <div>
        <label> <b> Homepage: </b></label> {{movie.homepage}}
    </div>
  <div>
    <label> <b> Language: </b></label> {{movie.language}}
  </div>
  <div>
    <label> <b> Release Date: </b></label> {{movie.releaseDate}}
  </div>
  <div>
    <label> <b> Adult: </b></label> {{movie.adult}}
  </div>
  <div>
    <label> <b> Budget: </b></label> {{movie.budget}}
  </div>
  <div>
    <label> <b> Overview: </b></label> {{movie.overview}}
  </div>
  <div>
    <label> <b> Runtime: </b></label> {{movie.runtime}}
  </div>
</div>
<div>
  <actors-list></actors-list>
</div>
